{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

    <style>
        .contact-form {
            list-style-type: none;
            padding-left: 0;
        }
        .contact-form li {
            margin-bottom: 1.5rem;
        }
        .contact-form label {
            display: block;
            font-weight: bold;
        }
        .contact-form .helptext {
            display: block;
            font-size: 80%;
        }
    </style>
<div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: #fff !important">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="display-4">{{ page.title }}</h1>
            </div>
        </div>
</div>
    <div class="container mt-5 mb-5">
            
        <p>
            {{ self.intro|richtext }}
        </p>

        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            <ul class="contact-form">
                {{ form.as_ul }}
            </ul>

            <button type="button" class="btn btn-outline-primary">
                Submit Form
            </button>
        </form>
    </div>
    <br><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.521269106484!2d90.40026393245438!3d23.7605588922928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c783c3404f0d%3A0x76ae0d2edabc81df!2sHatir%20Jheel!5e0!3m2!1sen!2sbd!4v1568527839220!5m2!1sen!2sbd" width="100%" frameborder="0" height="450px" style="border:0;" allowfullscreen=""></iframe>
    <br><br>
{% endblock %}
