{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container mt-5 mb-5 text-center">
        <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: #fff !important">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="display-4">{{ page.title }}</h1>
                    </div>
                </div>
        </div>
        <p>
            {{ self.thank_you_text|richtext }}
        </p>
    </div>

{% endblock %}