{% load wagtailcore_tags wagtailimages_tags %}

{% if self %}

    {% for block in self %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>
        {% elif block.block_type == 'image' %}
            {% image block.value width-525 class="img-responsive" %}
        {% else %}
           <section class="block-{{ block.block_type }}" style="text-align: justify;">
               {{ block }}
           </section>
        {% endif %}
    {% endfor %}

{% endif %}