{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div>
        {% image self.flex_image width-1500 as img %}

        <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: #fff !important">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-4">{{ self.title }}</h1>
                    <div class="lead">{{ self.subtitle }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
    </div>

{% endblock %}